/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./styles/glow-effect.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.glow-effect {
  box-shadow: 0 0 60px #D0FFD6, 0 0 80px #D0FFD6, 0 0 60px #D0FFD6, 0 0 100px #D0FFD6;
}

.hover-effect {
  transition: transform 0.8s ease, box-shadow 0.8s ease;
  border: 6px solid transparent; /* Initial border to maintain layout */
}

.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(208, 255, 214, 0.8), 0 0 40px rgba(208, 255, 214, 0.8), 0 0 60px rgba(208, 255, 214, 0.8);
  border-color: #D0FFD6; /* Border color on hover */
}
